---
import Card from "../components/Card.astro";
import MainLayout from "../Layouts/MainLayout.astro";

import { getPokemons } from "../service/pokemonApi";

const { data } = await getPokemons({ limit: 10 });
---

<MainLayout title="Inicio">
	<div class="container">
		{data.map((pokemon) => <Card {...pokemon} />)}
	</div>
</MainLayout>

<style>
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>
